<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>

		<report>
			<clover outputFile="build/logs/clover.xml"/>
		</report>
	</coverage>

	<testsuites>
		<testsuite name="Pronamic WordPress HTTP">
			<directory suffix=".php">./tests/src</directory>
		</testsuite>
	</testsuites>
</phpunit>
